.splash {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url("https://images.pexels.com/photos/53265/pexels-photo-53265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.page-title {
  font-size: 40px;
}

.page-subtitle {
  font-size: 70px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQTtFQUNJLGtCQUFrQjtFQUNsQixhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLGtDQUFrQztFQUNsQyxtSUFBbUk7QUNBdkk7O0FER0E7RUFDSSxrQkFBa0I7RUFDbEIsV0FBVztFQUNYLFFBQVE7RUFDUixTQUFTO0VBQ1Qsa0JBQWtCO0VBQ2xCLGdDQUFnQztBQ0FwQzs7QURJQztFQUNJLGVBQWU7QUNEcEI7O0FESUM7RUFDSSxlQUFlO0FDRHBCIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */