/* Global */

body {
    font-family: 'Kiwi Maru', serif;
}

div[class^=section] {
    max-width: 1140px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
/* Splash */ 

.splash {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url("https://images.pexels.com/photos/53265/pexels-photo-53265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.splash-inner a {
    text-decoration: none;
    color: black;
}

 .page-title {
     font-size: 60px;
     font-style: italic;
 }

 .page-subtitle {
     font-size: 70px;
 }

 nav ul li a {
     text-decoration: none;
     color: black;
}

nav li {
    display:inline-block;
    padding: 15px;
}

.btn {
    display: inline-block;
    background-color: yellow;
    margin: 24px auto 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    cursor: pointer;
    border-width: 2px;
}

.navigation {
    margin: auto;
}
.navigation-item {
    padding: 15px;
    margin-top: 15px;
}

.navigation-item a {
    text-decoration: none;
    color: black
}

.image {
    width: 160px;
    height: 200px;
    margin-bottom: 150px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-footer {
    max-width: 1140px;
    margin: auto;
    margin-top: 5px;
    background-color: white;
}

.footer-icons {
    margin-top: 30px;
    font-size: 40px;
}

.copyright {
    margin-top: 20px;
}

.footer-icons a {
    text-decoration: none;
    color: black;
}

.portfolio-description {
    margin-top: 0px;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;}


.section-portfolio {
    background-color: grey;
    padding-top: 30px;
}


.portfolio-description p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    margin-top: -25px;
    margin-bottom: 35px;
}

.section-services i {
    font-size: 30px;
    border: 2px solid yellow;
    padding: 8px;
    border-radius: 100%;
    color: rgb(253, 253, 113)
}
.footer-icons i {
    color: black;
    margin-top: 3px;
}

.section-description {
    margin-bottom: 60px;
    margin-top: -20px;
}

.section-services {
    padding-top: 20px;
    padding-bottom: 20px;
}

a.btn {
    color: white;
  }

  .section-title {
    font-weight: bold;
  }

  h3 {
    font-weight: bold;
  }
  